.hero {
  @include center;
  position: relative;
  height: 30rem;
  padding: 0 2rem;
  
  &_bg {   
    display: flex; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    
    img {
      object-fit: cover;
      object-position: bottom;
      width: 100%;
    }
  }

  &_main {
    @include center(column);
    gap: 3rem;
    transition-duration: 200ms;

    &_header {
      @include fraunces_bold;
      color: $white;
      letter-spacing: 0.5rem;
      text-align: center;
    }
  }
}

@media (min-width: 481px) {
  .hero {
    height: 100vh;

    &_main {
      gap: 5rem;

      &_header {
        font-size: 3rem;
        letter-spacing: 0.75rem;
      }
    }
  }
}

@media (min-width: 769px) {
  .hero {
    align-items: flex-start;

    &_main {
      margin-top: 11rem;
    }
  }
}