.nav {
  @include center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;

  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4rem);

    &_mobile-menu {
      cursor: pointer;
    }
  }
}

@media (min-width: 769px) {
  .nav {
    &_main {
      margin: 0 2rem;
    }
  }
}