.testimonials {
  @include center(column);
  @include barlow;
  background-color: $white;
  gap: 3rem;
  padding: 3rem 1.25rem 5rem 1.25rem;
  
  &_header {
    @include fraunces_bold;
    color: $lightGrey;
    font-size: 0.8rem;
    letter-spacing: 0.25rem;
    text-align: center
  }

  &_container {
    @include center(column);
    gap: 4rem;
    
    &_item {
      @include center(column);
      gap: 2rem;

      &_image {
        width: 4rem;
        border-radius: 50%;
      }

      &_testimony {
        @include barlow;
        line-height: 1.75rem;
        font-size: 1rem;
        text-align: center;
        color: $darkGrey;
        max-width: 19rem;
      }

      &_person {
        @include center(column);
        gap: 0.5rem;

        &_name {
          @include fraunces_bold;
          color: $darkBlue;
          font-size: 1rem;
        }

        &_title {
          color: $lightGrey;
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .testimonials {
    height: 100vh;
    padding: 0 3rem;
    gap: 5rem;

    &_header {
      font-size: 1rem;
    }

    &_container {
      flex-direction: row;
      gap: 2.5rem;

      &_item {
        gap: 4rem;
      }
    }
  }
}