$alpha: 0.2;

// Primaries

$red: #fe7867;
$yellow: #fad400;
$transparentYellow: hsla(51, 100%, 49%, $alpha);
$darkCyan: #26574c;
$cyan: #458c7e;
$lightCyan: #8DCCBE;
$blue: #19536b;

// Neutrals

$white: #ffffff;
$transparentWhite: hsla(0, 0%, 100%, $alpha);

$lightGrey: #a7abae;
$grey: #818498;
$darkGrey: #5a636c;

$darkBlue: #23303e;


// ### Primary

// - Soft red: hsl(7, 99%, 70%)
// - Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)