@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap');

@mixin barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

@mixin barlow_bold {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

@mixin fraunces {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

@mixin fraunces_bold {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

p, h1, h2, h3, h4 {
  margin: 0;
}