@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

@mixin barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

@mixin fraunces {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

@mixin fraunces_bold {
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
}